:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;

  color-scheme: light dark;
  color: #333;
  background-color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 1rem; /* rem is relative to global root definitions (above) */
  margin: 0.1rem 0;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: none;
}

a:hover {
  color: #535bf2;
}

button {
  border-radius: 4px;
  border: 1px solid transparent;
  padding: 0.4em 0.8em;
  font-size: .5rem;
  font-family: inherit;
  background-color: #1a1a1a;
  color: white;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 2px auto -webkit-focus-ring-color;
}

#app {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "header-left header-right"
    "main-small main-large";
  height: 100vh;
  width: 100vw;
  /* ✅ Fill the viewport horizontally */
  box-sizing: border-box;
}

.layout-header-left {
  grid-area: header-left;
  display: flex;
  align-items: center;
  padding-left: 1rem;
  font-size: 0.9rem;
  background-color: #2b021f;
  border-bottom: 1px solid #ccc;
}

.layout-header-right {
  grid-area: header-right;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 1rem;
  background-color: #1e0fa4;
  border-bottom: 1px solid #ccc;
}

.layout-main-small {
  grid-area: main-small;
  background: #eee;
  border-right: 1px solid #ccc;
  overflow-y: auto;
  padding: 1rem;
}

.layout-main-large {
  grid-area: main-large;
  overflow: hidden;
}

@media (max-width: 800px) {
  #app {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
      "header-left"
      "header-right"
      "main-small"
      "main-large";
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
  }

  button {
    background-color: #444;
  }
}